<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Targets
    </ion-title>

    <ion-buttons slot="end" padding-end>
      <ion-button>Level 1 (20 pt)</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="subheader" color="tertiary">
    <ion-buttons slot="end" padding-end>
      <ion-button class="add-button">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="targets">
    <ion-item-sliding *ngFor="let target of targets" class="target">
      <ion-item>
        <ion-label>
          <div class="text">{{ target.text }}</div>
          <div class="deadline">{{ target.deadline }}</div>
        </ion-label>

        <div class="item-note points" slot="end">
          {{ target.points }}
        </div>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="primary" (click)="markTargetAsChecked(target)">
          <ion-icon name="checkmark"></ion-icon>
        </ion-item-option>

        <ion-item-option color="danger" (click)="deleteTarget(target)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
