<ion-header>
</ion-header>

<ion-content padding>
  <div style="display: flex; flex-direction: column; justify-content: space-around; height: 100%;">
    <h3 class="ion-text-center">Register a new account</h3>

    <ion-list>
      <ion-item>
        <ion-label position="floating">First name</ion-label>
        <ion-input type="text" [(ngModel)]="user.first_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Last name</ion-label>
        <ion-input type="text" [(ngModel)]="user.last_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirm password</ion-label>
        <ion-input type="password" [(ngModel)]="user.confirm_password"></ion-input>
      </ion-item>
    </ion-list>

    <div>
      <ion-button
              color="primary"
              expand="block"
              (click)="register()"
      >Register
      </ion-button>

      <p class="ion-text-center">Already have an account ?
        <ion-button
                color="primary"
                fill="clear"
                size="small"
                (click)="goToLogin()"
        >Login
        </ion-button>
      </p>
    </div>
  </div>
</ion-content>
